$primary: #4262FF;
$secondary: #ffd02f;
$primary-dark: #050038;
//$twitter: #4099FF;
$danger: #ed6f78;
$warning: #EDB908;
$info: #86899C;
$light: #f2f2f2;
$success: #7c6;

$primary-light: #ECEFFF;
$color-text-primary: #4262FF;
$color-text-regular: #020014;
$color-text-secondary: #050038;
$color-text-placeholder: #9b99af;

$border-color-base: #9b99af;
//$border-color-base: #9b99af;

.url-like, a {
  cursor: pointer;
  color: $primary;
  text-decoration: none!important;
}
.url-like.text-like-url {
  color: $color-text-regular;
}
.url-like:hover, a:hover {
  color: $primary;
  text-underline: none !important;
  text-decoration: underline !important;
}
.shadowed {
  //box-shadow: 0 2px 4px rgba(0, 0, 0, .12),
  //0 0 6px rgba(0, 0, 0, .04);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.shadowed-sm {
  box-shadow: #bfbfbf 0px 0px 2px 0px;
}
.text-primary {
  color: $primary;
}
.text-primary-dark {
  color: $primary-dark;
}
.text-danger {
  color: $danger;
}
.text-success {
  color: $success;
}
.text-warning {
  color: $warning;
}
.text-info {
  color: $info;
}

