@font-face {
  /*Give it a name*/
  font-family: 'PaytoneOne';
  src: url('../../static/fonts/PaytoneOne-Regular.ttf');
}
.brand-font {
  font-family: 'PaytoneOne', sans-serif !important;
}

// @font-face {
//   /*Give it a name*/
//   font-family: 'PaytoneOne';
//   src: url('../../static/fonts/PaytoneOne-Regular.ttf');
// }
// .brand-font {
//   font-family:  sans-serif !important;
// }
