// 修改顶部右侧菜单默认样式
$adminHeaderHeight: 50px;
.aside {
  .el-menu-vertical.el-menu {
    background-color: transparent;
  }
}
.header-menu-user-info {
  background-color: transparent;
  border-bottom: none !important;
    .header-menu-first{
     .el-submenu__title{
       height: $adminHeaderHeight !important;
       line-height: $adminHeaderHeight !important;
       padding: 0 20px;
     }
    }
  }
