

// Globals
$body-font-family: -apple-system,BlinkMacSystemFont,Helvetica Neue,Arial,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Source Han Sans SC,WenQuanYi Micro Hei,sans-serif;
$border-radius-root: 6px;
$font-size-root: 14px;

// Buttons
$btn-sizes: (
  'x-small': 20,
  'small': 28,
  'default': 36,
  'large': 44,
  'x-large': 52
);

$btn-font-sizes: (
  'x-small': .625rem,
  'small': .75rem,
  'default': 1rem,
  'large': 1.25rem,
  'x-large': 1.5rem
);
